*{
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
/* crear container*/


.container {
	width: 100%;
	margin: 0 auto;
}

.row:before, .row:after {
	content: "";
	display:table;
	clear: both;
}

[class*="col-"]{
 float: left;
 min-height: 7px;

}


.header {
	height: 7em;
	padding: 0.5em;
	text-align: right;

}

h1 {
	text-align: right;
	font-size: 30px;
	color: #fff;

}

h3 , p {
	color :#fff;
	text-align: center;
}

h6 {
	margin-top: 1em;
	text-align: right;
	color :#fff;
}

.col-1 {
  width: 8.333333%;
  height: 1em;
} 

.col-2 {
  width: 16.666667%;
} 

.col-3 {
  width: 25%;
} 

.col-4 { 
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
} 

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;

}

.aboutPanda {
	height: 30em;
	margin-top: 10px;
	padding-top: 45px;
}


.box {
	background-color:#F7B595;
	text-align: center;


}

.ingray {
	filter: grayscale(100%);
	width: 100vw;
	height: 500px;
	object-fit: cover;
	object-position: 50% 50%;

}


.panditas {
	width: 50%;
	height: auto;
	padding: 0px;
	border:10px solid white;
}

.row-pandas {
	background-color: #ABE188;
	width: 100%;
	height: 25em;
	float:left;
}

.row-footer div h6 {
	padding: 10px 35px;
}

.row-pandas h3 {
	padding: 45px;
	font-size: 30px;

}

.imgpanda {
	display:inline-flex;
}